<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.b4.pe3.rodrigueza" android:installLocation="preferExternal">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="26" />
	<application android:label="B4.PE3.RodriguezA.Android">
    <provider android:name="android.support.v4.content.FileProvider"
				android:authorities="com.companyname.b4.pe3.rodrigueza.fileprovider"
				android:exported="false"
				android:grantUriPermissions="true">
      <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths"></meta-data>
      <meta-data android:name="com-google.android.maps.v2.API_KEY" android:value="AIzaSyDDLHFOdAFz_NI_yYCOZHDnxQYHIaN-KY4">
      </meta-data>
    </provider>
  </application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>